@import '../common/variables.scss';

.rc-slider{
    margin-left: 10px;
    width: calc(100% - 20px);
}

.slider-legend{
    font-size: 12px;
    position: relative;
    width: 100%;

    .start{
        position: absolute;
        left: 6px;
    }

    .end{
        position: absolute;
        right: 0px;
    }
}
